// 모든 페이지에서 사용될 공통적인 내용들을 정의하기 위한 파일



// 글꼴 설정

// 구글 웹 폰트 설정
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// 아이콘 폰트 지정
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

// 모든 태그에 기본 글꼴로 지정함
* {
    font-family: 'Noto Sans KR', sans-serif;
}

// reset 설정
@import './reset.scss';

// 반응형 웹 설정
@import './responsive.scss';

/* 사이트의 기본 색상값들에 대한 변수 설정

    실제 페이지 작업시에는 사이트의 색상 테마의 값들을 나열 */

$black: #000;
$dark-gray: #444;
$gray: #616161;
$light-gray: #eee;
$white: #f1f1f1;
$black-op: #00000011;
$green: #0f0;

// 웹 페이지 전역에 적용될 기본 스타일
* {
    box-sizing: border-box;
}

    body {

    }


 a {
    text-decoration: 0;
    color: $black
 }

//  상단영역
.header {
    //background-color: #ff0000; //작업하는 동안의 임시 적용
    position: absolute;     //다른 요소들 위에 띄움
    left: 0;
    top: 0;
    width: 100%;            //position: absolute가 되면 사이즈를 명시해야 함

    .menu {
        //background-color: #00ff00; //작업하는 동안의 임시 적용
        width: 100%;        //테블릿 이하 장치에서는 가로로 가득 채움
        display: flex;      //<li>태그를 가로로 정렬

        //테블릿 가로모드 이상의 해상도인 경우에만 적용
        @include md () {
            max-width: 1800px;  //테블릿 이상 장치에서는 넓이를 1800으로 제한
            margin: auto;
        }

        li {
            width: 20%;         //테블릿 이하 장치는 각각의 넓이를 20% (총 5개)
            text-align: center;

            @include md {       //테블릿 이상 장치는 각각의 넓이가 내용만큼만 적용
                width: auto;

                // 테블릿 가로 모드 이상의 경우만 적용 --> 마지막 아이콘 (검색)
                &:last-child {
                    flex: none;
                    margin-left: auto;

                    span {
                        display: none;
                    }
                }
            }

        a {
            display: block;
            font-size: 30px;
            font-weight: 300;
            padding: 17px 10px;
            color: $black;

            @include md {
                padding: 17px 25px;
            }

            &:hover {
                background-color: $black-op;
            }

            span {
                display: block;  //테블릿 이하 장치는 아이콘 옆의 텍스트가 독립 문단
                margin-top: 5px;
                font-size: 13px;

                @include md {       //테블릿 이상 장치는 텍스트가 문단이 아님 (아이콘 옆)
                    display: inline;
                    margin-left: 7px;
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }    
        }

    }

}

// 하단영역

.footer {
    //background-color: #0000ff22; //작업하는 동안의 임시 적용
    background-color: $black;
    text-align: center;
    padding: 100px 100px;

    .to-the-top {
        display: inline-block;
        background-color: $light-gray;
        padding: 10px 25px;
        font-size: 35px;
        color: $gray;
        margin-bottom: 10px;

        i {
            margin-right: 10px;
        }

        &:hover {
            background-color: $gray;
            color: $black;
        }
    }

    .social-list {
        display: flex;
        justify-content: center;    //item들을 화면 중앙에 배치

        a {
            color: $white;
            display: block;
            font-size: 30px;
            margin: 20px 10px 40px 10px;

            &:hover {
                color: $gray;
            }
        }
    }

    address {
        color: $white;
        font-size: 18px;
    }


}

